
params {
    manifest = '@PROJECT_DIR@/test/allele-typing/manifest.tsv'
    amplicons_json = '@PROJECT_DIR@/test/allele-typing/amplicons.json'
    copy_num = '@PROJECT_DIR@/test/allele-typing/copy_num.tsv'
    ref_fasta = 'ftp://hgdownload.cse.ucsc.edu/goldenPath/hg38/chromosomes/chr22.fa.gz'
    vep_cache_ver = '104'
    vep_assembly = 'GRCh38'
    // TODO - remove this and use default
    max_reads = 150
}