
params {
    run_id = 'test-pre-processing'
    subreads_bam = '@TESTDATA@/test-m54042_190909_040702.subreads.bam'
    sample_manifest = '@TESTDATA@/test-sample-manifest.tsv'
    amplicons_json = '@TESTDATA@/test-amplicons.json'
    barcodes_fasta = '@TESTDATA@/test-barcodes.fasta'
    ref_fasta = '/stornext/Bioinf/data/lab_bahlo/ref_db/human/hg38/GATK/fasta_no_alt_pacbio/hg38.no_alt.fasta'
    ccs_min_len = 250
    ccs_max_len = 25000
    ccs_min_acc = 0.99
    ccs_min_passes = 3
    ccs_n_parallel = 1
}