
params.intermediate_pub_mode = 'symlink'
params.output_pub_mode = 'copy'
params.test = false
params.mode = null
trace.enabled = true

includeConfig './nf/tasks.config'

profiles {

    slurm {
        executor {
            name = 'slurm'
            queueSize = 100
            pollInterval = '10 s'
            queueStatInterval = '10 s'
            exitReadTimeout = '1 min'
        }
        process.executor = 'slurm'
    }

    pbs {
        executor {
            name = 'pbs'
            queueSize = 100
            pollInterval = '10 s'
            queueStatInterval = '10 s'
            exitReadTimeout = '1 min'
        }
        process.executor = 'pbs'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }

    docker {
        docker.enabled = true
        docker.userEmulation = true
        singularity.enabled = false
    }

    test {
        params.test = true
    }

    preproc {
        params.mode = 'preproc'
        if (params.test) {
            includeConfig './test/preproc.config'
        }
    }

    typing {
        params.mode = 'typing'
        if (params.test) {
            includeConfig './test/typing.config'
        }
    }
}
