
process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    container = 'bahlolab/plaster:dev'

    withLabel:xs {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { 5 * task.attempt + ' min'}
    }
    withLabel:s {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { 1 * task.attempt + ' h'}
    }
    withLabel:m {
        cpus = 2
        memory = { 42 * task.attempt + ' GB' }
        time = { 2 * task.attempt + ' h'}
    }
    withLabel:l {
        cpus = 4
        memory = { 4 * task.attempt + ' GB' }
        time = { 4 * task.attempt + ' h'}
    }
    withLabel:xl {
        cpus = 8
        memory = { 8 * task.attempt + ' GB' }
        time = { 8 * task.attempt + ' h'}
    }
}