
process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    container = 'bahlolab/plaster:dev'

    withLabel:XS {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { 5 * task.attempt + ' min'}
    }
    withLabel:S {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { 1 * task.attempt + ' h'}
    }
    withLabel:M {
        cpus = 2
        memory = { 2 * task.attempt + ' GB' }
        time = { 2 * task.attempt + ' h'}
    }
    withLabel:L {
        cpus = 4
        memory = { 4 * task.attempt + ' GB' }
        time = { 4 * task.attempt + ' h'}
    }
    withLabel:L2 {
        cpus = 4
        memory = { 8 * task.attempt + ' GB' }
        time = { 4 * task.attempt + ' h'}
    }
    withLabel:XL {
        cpus = 8
        memory = { 8 * task.attempt + ' GB' }
        time = { 8 * task.attempt + ' h'}
    }
    withLabel:XL2 {
        cpus = 8
        memory = { 16 * task.attempt + ' GB' }
        time = { 8 * task.attempt + ' h'}
    }
    withName:pb_mm2 {
        time = { (10 + Math.ceil(nr/5000)) + 'm' }
    }
//    withName:annotate_samples_task {
//        time = { (10 + Math.ceil(nr/5000)) + 'm' }
//    }
}