
process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    container = 'bahlolab/plaster:v0.0'

    withLabel:XS {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { 5 * task.attempt + ' min'}
    }
    withLabel:S {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { 1 * task.attempt + ' h'}
    }
    withLabel:S_L {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { 2 * task.attempt + ' h'}
    }
    withLabel:S2 {
        cpus = 1
        memory = { 2 * task.attempt + ' GB' }
        time = { 1 * task.attempt + ' h'}
    }
    withLabel:S4 {
        cpus = 1
        memory = { 4 * task.attempt + ' GB' }
        time = { 1 * task.attempt + ' h'}
    }
    withLabel:S2_NR {
        cpus = 1
        memory = { 2 * task.attempt + ' GB' }
        time = { (10 + Math.ceil(nr/5000)) + 'm' }
    }
    withLabel:S_NR {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { (10 + Math.ceil(nr/5000)) + 'm' }
    }
    withLabel:M {
        cpus = 2
        memory = { 2 * task.attempt + ' GB' }
        time = { 2 * task.attempt + ' h'}
    }
    withLabel:M2 {
        cpus = 2
        memory = { 4 * task.attempt + ' GB' }
        time = { 2 * task.attempt + ' h'}
    }
    withLabel:M_NR {
        cpus = 2
        memory = { 2 * task.attempt + ' GB' }
        time = { (10 + Math.ceil(nr/5000)) + 'm' }
    }
    withLabel:M2_NR {
        cpus = 2
        memory = { 4 * task.attempt + ' GB' }
        time = { (10 + Math.ceil(nr/5000)) + 'm' }
    }
    withLabel:L {
        cpus = 4
        memory = { 4 * task.attempt + ' GB' }
        time = { 4 * task.attempt + ' h'}
    }
    withLabel:L2 {
        cpus = 4
        memory = { 8 * task.attempt + ' GB' }
        time = { 4 * task.attempt + ' h'}
    }
    withLabel:XL {
        cpus = 8
        memory = { 8 * task.attempt + ' GB' }
        time = { 8 * task.attempt + ' h'}
    }
    withLabel:XL2 {
        cpus = 8
        memory = { 16 * task.attempt + ' GB' }
        time = { 8 * task.attempt + ' h'}
    }
    withLabel:XL2_NR {
        cpus = 8
        memory = { 16 * task.attempt + ' GB' }
        time = { (10 + Math.ceil(nr/5000)) + 'm' }
    }
}